.navigation_overlaping {
    &-color {
        color: #0A1F30 !important;
        &-blue {
            color:#00B4F1 !important;
            font-weight: 900 !important;
        }
        &-black {
            opacity: 0.5!important;
            font-size:9px;
            color:#0A1F30 !important;
        }
    }
    &-activeCorporation {
        background-color: #fff;
        margin: 10px;
        color:#00B4F1;
        font-weight: 900;
        border-radius: 5px;
        -webkit-box-shadow: -7px 19px 105px -23px rgba(0,0,0,0.2);
        -moz-box-shadow: -7px 19px 105px -23px rgba(0,0,0,0.2);
        box-shadow: -7px 19px 105px -23px rgba(0,0,0,0.2);
        
    }
    &-divider {
        border-radius: 2px;
        opacity: 0.05;
        height: 3px;
        width: 90%;
        background-color: #0A1F30;
    }
    &-title {
        padding: 5px;
        &-texto {
            color: red;
        }
    }
}
.bordercard {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.list__tile--active .list__tile__action,
.list__tile--active .list__tile__action .icon {
  color: inherit;
}
/*VUE DROPZONE*/
#dropzone{
    min-height: 300px !important;
    margin:20px;
    border-radius: 4px;	background-color: #fff;	
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-style: dashed;
    border-width: 2px;
}
#dropzoneOver{
    min-height: 300px !important;
    margin:20px;
    border-radius: 4px;	background-color: #fff;	
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-style: dashed;
    border-color:#aecff3;
    border-width: 6px;
}
.active {
    color: #78CB5B;
  }
  
  .inactive {
    color: #fff000;
  }
  
  .fa.fa-circle:before {
    content: "\25C9";
    /*color: #000;*/
  }
  
  th {
    text-align: center;
  }
  
  td:nth-child(1) {
    text-align: center;
  }
  
  td:nth-child(3) {
    text-align: center;
  }
  
  td:nth-child(2) {
    padding-left: 40px;
  }
  
  .event-active {
    font-weight: bold;
    color: #78CB5B;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
 
  

  

