.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.arrow-up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.navbar-brand {

    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 100px; /* no height needed ... image will resize automagically */
  }
.expansion-panel li {
    border: 10px solid #ddd;
}
.colorblue {
    color: #03b4f1;
}
.colorblackop {
    color: #c9cdd0;
}
.ativa {
    width: 220px
}

